.App {
  text-align: center;
}

.navBar {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: pink;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.path-buttons {
  display: flex;
  
}

.navBar-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  /* padding: 10px 15px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  margin-right: 100px;
}
